@import "partials/params";
@import "partials/mixins";

.btn{
	font-size: 16px;
	padding: 9px 15px;
	cursor: pointer;
	&__red{
		color: #fff;
		background-color: $color-red;
		font-weight: 700;
		border: 0;
	}
	&__line{
		border: 1px solid $color-red;
		font-weight: 300;
		color: $color-red;
		border-radius: 3px;
		background-color: transparent;
	}
	&:hover{
		text-decoration: underline;
	}
}